* {
	-df-background-darker: derive(#8f000a, -10%);
	-df-background-dark: derive(#db000f, -5%);
	-df-background: #5b9b00;
	-df-background-light: derive(#d16500, 0%);
	-df-background-lighter: derive(#d16500, 80%);

	-df-component-darker: derive(#97df32, -20%);
	-df-component-dark: derive(#bc0093, -10%);
	-df-component: #0064d6;
	-df-component-light: derive(#d87279, 1%);
	-df-component-lighter: derive(#ffd4d7, 2%);

	-df-text-dark: derive(#e1e1e1 -20%);
	-df-text: #e1e1e1;
	-df-text-selected: derive(#e1e1e1, 10%);

	-df-defold-red-dark: derive(#cf1723, -10%);
	-df-defold-red: #db2b39;
	-df-defold-red-light: derive(#db2b39, 10%);

	-df-defold-yellow-dark: derive(#ffcc00, -10%);
	-df-defold-yellow: #ffcc00;
	-df-defold-yellow-light: derive(#d8b320, 10%);
	-df-defold-yellow-lighter: derive(#d8b320, 20%);

	-df-defold-green-dark: derive(#63b06d, -10%);
	-df-defold-green: #63b06d;
	-df-defold-green-light: derive(#63b06d, 10%);
	-df-defold-green-lighter: derive(#63b06d, 20%);

	-df-defold-orange-dark: derive(#ffffff, -10%);
	-df-defold-orange: #ffffff;
	-df-defold-orange-light: derive(#ffffff, 10%);

	-df-defold-blue-dark: derive(#2e32ff, -20%);
	-df-defold-blue: #2e32ff;
	-df-defold-blue-light: derive(#2e32ff, 10%);
	-df-defold-blue-lighter: derive(#2e32ff, 30%);
}